[submodule "subprojects/YNOGK-CXX"]
	path = subprojects/YNOGK-CXX
	url = https://github.com/feng1m8/YNOGK-CXX.git
	branch = main
[submodule "src/relxill"]
	path = src/relxill
	url = https://github.com/feng1m8/relxill.git
	branch = main
